<h1>Welcome <%=@user.username%>!</h1>
<h2>What you would like to do today?<h2>

<h3> Create your Funko POP Collection </h3>
<h3> See all Funko POP Figures available </h3>
<h3> See other users Collections </h3>

<%= render @user.figures %>